.contHead{
    margin-top: 10em;
}
header{
    min-height: 700px;
    background: url(https://images4.alphacoders.com/107/1078967.jpg);
}
.navbar{
    background: transparent !important;
    color: black !important;
}
#btn{
    margin: -20px -50px; 
    position:relative; 
    left:49%;
}

#tecnologias{
    margin-top: 10em;
}

#form{
    margin-top: 10em;
}

#contacto{
    margin-top: 10em;
}